body{
    background: color #000;;
    border: red;
}
h1 {
    color: blueviolet;
    margin-left: 500px;
}
li {
    color: white;
    font: small;
}

h1 {
    color: beige;
    margin-left: center;
    font: large;
    ;
}
p {
    color: brown;
    margin-left: center;
  
}

figure {
    margin: center;
}
